.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    position: sticky;
    top:0;
    z-index: 100;
    background-color: white;
}
.header__logo{
    height:25px;
    object-fit: contain;
    margin-left:20px;
}
.header__left{
    display: flex;
    align-items: center;

}
.header__input{
    display: flex;
    align-items: center;
    width:40%;
    border: 1px solid lightgrey;
}
.header__right{
    display: flex;
    align-items: center;
    
}
.header__icon{
    margin-right: 8px;
}
.header__input>input{
    flex:1;
    border:none !important;
    margin:0px !important;

}
.header__inputButton{
    width:50px !important;
    background-color: #fafafa;
    border-left:1px solid lightgrey;
    color: gray !important;
    
}