.search_channel{
    /* background-color: rgb(243, 172, 172); */
    margin-left: 200px;
    min-width:420px;
    /* width: 100vw; */
}
.searchvideo{
    /* flex:.600; */
    /* padding: 20px 200px; */
    /* align-content: center; */
    padding:20px;
    width: 70%;
    margin: 0px auto;
    /* background-color: teal; */

}
@media screen and (max-width: 1313px) {
    .search_channel{
        /* background-color: rgb(243, 172, 172); */
        margin-left: 85px;
        width:100%;
    }
    .searchvideo{
        /* flex:.600; */
        /* padding: 20px 200px; */
        /* align-content: center; */
        padding:20px;
        width: 90%;
        /* margin: 0px auto; */
        /* background-color: teal; */
    
    }
}

.searchvideo_filter{
    display: flex;
    align-items: center;
    color: gray;
    font-size: xx-small !important;

    
}
.searchvideo_filter>h2{
    font-size: 14px;
    margin-left: 10px;
}
.searchvideo>hr{
    color:gray;
    margin: 10px 0px;
}

.RecommendedVideos{
    
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding:20px 50px;
    row-gap:25px;
    /* min-width:375px; */
   
    /* height: 90vh; */
    /* background-color: rgb(250, 249, 249); */
    
    

}
@media screen and (max-width: 1313px) {
    .RecommendedVideos{

        display: flex;
        justify-content:space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        padding:20px 50px;
        row-gap:25px;
        
        /* min-width:320px; */
        /* height: 100vh; */
        background-color: rgb(250, 249, 249);
        /* background-color: tomato; */
        
    
    }
}
/* .search_channel{
    background-color: rgb(243, 172, 172);
    margin-left: 200px;
    min-width:420px;
    /* width: 100vw; */
/*
@media screen and (max-width: 1313px) {
    .search_channel{
        background-color: rgb(243, 172, 172);
        margin-left: 85px;
        width:100%;
    } */