.tag_row{
  
  position: absolute;
  top:75px;
  
  width: 100%;
  background-color: transparent;
  display: flex;
  
}
.emptytag_container{
 flex:.2;
 padding: 0px 20px;
 /* background-color: lime; */
}
.tag_container{
  flex:.8;
  overflow: scroll;
  white-space: nowrap;
  
display: flex;
background-color: lightyellow;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;

   /* background-color: lightskyblue; */
    /* z-index: -100; */
    
    
  }
    /* background-color: khaki; */


.tag_box{
    margin:10px;
    /* display: inline-block; */
    
    text-align: center;
    padding:5px 10px;
    background-color:rgb(243, 239, 239) ;
    border: 1px solid gray;
    border-radius: 30px;
    font-size: 13px;
}
@media screen and (max-width: 1313px) {
  .tag_row{
  
    position: absolute;
    top:75px;
    
    /* width: 100%; */
    background-color: blanchedalmond;
    display: flex;
    
  }
  .emptytag_container{
display: none;
       width: 0%;
   /* padding: 0px 20px; */
   /* background-color: lime; */
  }
  .tag_container{
    width: 100vw;
    
    margin:0px auto;
    display: flex;
    overflow: scroll;
    /* white-space: nowrap; */
    
  
  background-color: lightyellow;
      border-bottom: 1px solid gray;
      border-top: 1px solid gray;
  
     /* background-color: lightskyblue; */
      /* z-index: -100; */
      
      
    }
  
}

::-webkit-scrollbar {
    height: 1px !important;
    width: 1px !important;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:rgb(94, 91, 91); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:rgb(94, 91, 91); 
  }