.videocard{
    display: flex;
    flex-direction: column;
    transition: transform .2s;
    max-width:290px;
    
    
}
.videocard:hover{
    transform: scale(1.2);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    z-index: 100;
    background-color: white;
    padding:0px;
    border-radius: 5px;
    
    
}
.videocard:hover .videocard_content {

    padding: 10px;
}
.videocard_image{
    height:170px;
    width:290px;
    /* object-fit:cover; */
    
}
/* .videocard_image:hover{
    height:270px;
    width:400px;
    object-fit:cover;
    
} */
.videocard_content{
    margin-top: 10px;
    display: flex;
   padding-right: 30px;
}
.videocard_text{
    margin-left: 10px;
    display: flex;
    flex-direction: column;

}
.videocard_text>h4{
    font-size: 14px;
    padding-bottom: 5px;
}
.videocard_text>p{
    color:gray;
    font-size: 14px;
    
}


/* .videocard{
    display: flex;
    flex-direction: column;
    
    max-width:270px;
    
    
}
.videocard_image{
    height:140px;
    width:250px;
   
    
} */