.watchVideo{
    
    /* height: 200vh; */
    /* width:100%; */
    
    position: relative;
    /* width: 100%; */
    overflow: hidden;
    
    padding-top:  59.5%; /* 16:9 Aspect Ratio */
    
    
}



  
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* background-color: tomato; */
    border: none;
  }
  @media screen and (max-width: 1000px) {
    .responsive-iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border: none;
      }
    
}

.watchVideo_detail{
  margin:15px 0px;
  display: flex;
  flex-direction: column;
  row-gap:5px;
}
.watchVideo_title>h3{
  font-weight: 500;
  color: black;
}
.watchVideo_views>p{
  font-size: 14px;
  font-weight: 500;
  color: rgb(97, 95, 95);
}

.watchvideo_details{
  display: flex;
  justify-content: space-between;
 align-items: center;
 flex-wrap:nowrap;
}
.watchVideo_icon{
  margin-right: 5px;
  font-size: 60px !important;
  height: 22px !important;
  width: 22px !important;
}
.watchVideo_like>Button{
  color:rgb(26, 25, 25) !important;
  font-size:15px !important;
}

.watchVideo_descriptionRow{
  display: flex;
  margin-bottom:10px ;
  margin-top: 7px;

}
.watchVideo_Avatar{
  height: 55px !important;
  width: 55px !important;
  margin-right: 20px;
}
.watchVideo_aboutvideo>h4{
  font-size: 14px;
  font-weight: 500;
}
.watchVideo_aboutvideo>h5{
  font-size: 15px;
  margin-bottom: 3px;
  
}
.watchVideo_aboutvideo>p{
  font-size: 12px;
  margin-bottom: 20px;
  font-weight:400;
  color: rgb(70, 68, 68);
}

.subscribe_btn{
  background-color: rgb(235, 233, 233) !important;
    color:rgb(153, 151, 151) !important;
}
.btn_color{
  background-color: rgb(204, 9, 9) !important;
  color:white !important;
}